---
layout: default
title: Mélanie Martin
description: Mélanie Martin est styliste culinaire et auteur de livres de recettes. Elle présente, embellie, sublime et scénarise des recettes de cuisine, en association avec un Chef ou bien de sa propre composition.
permalink: /melanie-martin/
body_class: martin project-page
---

<section class="header-project-wrapper">
    <span class="multiline">
        <h1 class="custom-main-title">Mélanie Martin</h1>
    </span>
</section>

<section class="presentation-wrapper padding-section">
    <h2 class="custom-title center black">Styliste culinaire</h2>
    <p class="custom-description center black">
        Mélanie Martin est <strong>styliste culinaire</strong> et auteur de livres de recettes. Elle <strong>présente, embellie, sublime et scénarise des recettes de cuisine,</strong> en association avec un Chef ou bien de sa propre composition.
        Aujourd’hui, elle écrit et met en scène des recettes pour l’édition, la presse ainsi que pour différentes marques d’agro-alimentaire.
        <br><br>
        Le principal besoin de Mélanie Martin était d’améliorer sa visibilité web afin <strong>d’étendre sa clientèle.</strong></p>
    </p>

    <a class="custom-button full martin" href="https://melaniemartin.fr/" title="Aller sur Mélanie Martin" target="_blank">Aller sur Mélanie Martin</a>
</section>

<section class="roles-wrapper padding-section">
    <div class="background" style="background-image: url('/static/images/projects/martin/martin-presentation.jpg');"></div>

    <div class="content-inner">
        <h2 class="custom-title">Mes rôles</h2>
        <ul class="custom-description roles">
            <li class="roles-item">Définition d’une stratégie web</li>
            <li class="roles-item">Gestion de projet</li>
            <li class="roles-item">Création d’une identité graphique complète</li>
            <li class="roles-item">Développement front</li>
            <li class="roles-item">Création d’une stratégie de SEO</li>
        </ul>
    </div>
</section>

<section class="screen-insitu-wrapper padding-section">
    <div class="screen-wrapper">
        <img class="screen" src="/static/images/projects/screen.png" alt="Écran">
        <div class="website" style="background-image: url('/static/images/projects/martin/martin-capture.jpg');"></div>
    </div>
</section>

<section class="technology-wrapper padding-section">
    <div class="content-inner">
        <h2 class="custom-title center black">Technologies</h2>
        <!-- <p class="custom-description center gray"></p> -->
    </div>

    <ul class="technology-list">
        <li class="item python"><img src="/static/images/projects/python.png" alt="Python"></li>
        <li class="item djangocms"><img src="/static/images/projects/djangocms.png" alt="Django CMS"></li>
        <li class="item jquery"><img src="/static/images/projects/jquery.png" alt="jQuery"></li>
        <li class="item less"><img src="/static/images/projects/less.png" alt="Less"></li>
    </ul>
</section>

<section class="typographies-wrapper padding-section">
    <h2 class="custom-title center white">Typographies</h2>
    <p class="custom-description center white"><strong>Oswald,</strong> typo linéale, présentée comme une “Gothic moderne”, haute, reprenant les codes des titres des journaux américains.
    <br>
    <strong>Lato,</strong> typo linéale, aux détails semi ronds qui apportent un sentiment de chaleur, tout en reposant sur une structure forte et stable.</p>

    <div class="primer-lato">
        {% include svg/martin-primer-desktop.svg %}
        {% include svg/martin-primer-mobile.svg %}
        {% include svg/martin-lato.svg %}
        {% include svg/martin-mm.svg %}
    </div>
</section>

<section class="mosaic-description-wrapper padding-section">
    <h2 class="custom-title center black">Photographies</h2>
    <p class="custom-description center black">Un design épuré, avec peu de distraction graphique, s’articule autour de ses travaux et ne dénature pas ses compositions, permettant une forte immersion dans ses réalisations.</p>
</section>

<section class="mosaic-wrapper full-width">
    <ul class="mosaic-list">
        <li class="mosaic-item">
            <div class="mosaic-item-image cake">
                <div class="content" style="background-image:url('/static/images/projects/martin/melanie-martin-cake.jpg');"></div>
            </div>
        </li>
        <li class="mosaic-item">
            <div class="mosaic-item-image chocolate">
                <div class="content" style="background-image:url('/static/images/projects/martin/melanie-martin-chocolate.jpg');"></div>
            </div>
            <div class="mosaic-item-image oyster">
                <div class="content" style="background-image:url('/static/images/projects/martin/melanie-martin-oyster.jpg');"></div>
            </div>
        </li>
        <li class="mosaic-item">
            <div class="mosaic-item-image fromage">
                <div class="content" style="background-image:url('/static/images/projects/martin/melanie-martin-fromage.jpg');"></div>
            </div>
            <div class="mosaic-item-image cookies">
                <div class="content" style="background-image:url('/static/images/projects/martin/melanie-martin-cookies.jpg');"></div>
            </div>
        </li>
    </ul>
</section>

<script>
    animateLaptop($('section.screen-insitu-wrapper'));
    loadImages($('.mosaic-item-image'));
</script>
