---
layout: default
title: Marius Affûteur
description: Marius rafraîchi l’idée du remoulage. Il a troqué sa charrette contre un taxi londonien entièrement réaménagé et parcourt toutes les rues de Paris, en affûtant les couteaux des grands chefs ou des particuliers.
permalink: /marius-affuteur/
body_class: marius project-page
---

<section class="header-project-wrapper">
    <span class="multiline">
        <h1 class="custom-main-title">Marius Affûteur</h1>
    </span>
</section>

<section class="presentation-wrapper padding-section">
    <h2 class="custom-title center black">Mais c'est quoi un affûteur ?</h2>
    <p class="custom-description center black">
    <strong>Le métier d’affûteur</strong> (ou de rémouleur) était très commun jusqu’à la seconde guerre mondiale. Le rémouleur se déplaçait, avec sa petite charrette ambulante sur laquelle était fixée sa meule, de village en village, s'arrêtant à chaque coin de rue en agitant sa clochette et en criant: "Rémouleuuuur".
    <br><br>
    Aujourd’hui, Marius rafraîchi l’idée du remoulage. Il a troqué sa charrette contre un <strong>taxi londonien entièrement réaménagé</strong> et parcourt toutes les rues de Paris, en affûtant les couteaux des grands chefs ou des particuliers.
    <br><br>
    Le principal besoin de Marius était de créer sa propre identité et d’améliorer sa visibilité web afin <strong>d’étendre sa clientèle.</strong></p>

    <a class="custom-button full marius" href="http://marius-affuteur.fr/" title="Aller sur Marius Affûteur" target="_blank">Aller sur Marius Affûteur</a>
</section>

<section class="roles-wrapper padding-section">
    <div class="background" style="background-image: url('/static/images/projects/marius/marius-presentation.jpg');"></div>

    <div class="content-inner">
        <h2 class="custom-title">Mes rôles</h2>
        <ul class="custom-description roles">
            <li class="roles-item">Définition d’une stratégie web</li>
            <li class="roles-item">Gestion de projet</li>
            <li class="roles-item">Création d’une identité graphique complète</li>
            <li class="roles-item">Développement front et back</li>
            <li class="roles-item">Création d’une stratégie de SEO</li>
        </ul>
    </div>
</section>

<section class="screen-insitu-wrapper padding-section">
    <div class="screen-wrapper">
        <img class="screen" src="/static/images/projects/screen.png" alt="Écran">
        <div class="website" style="background-image: url('/static/images/projects/marius/marius-capture.jpg');"></div>
    </div>
</section>

<section class="identity-wrapper padding-section">
    <h2 class="custom-title center black">Identitée</h2>
    <div class="marius-logo">
        {% include svg/marius-logo.svg %}
    </div>

    <h2 class="custom-title center black">Couleurs</h2>
    <p class="custom-description center gray">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    <ul class="colors-list">
        <li class="item">
            <span class="title">Black</span>
            <span class="color black"></span>
            <span class="hexa">#000000</span>
        </li>
        <li class="item">
            <span class="title">Anthracite</span>
            <span class="color anthracite"></span>
            <span class="hexa">#242424</span>
        </li>
        <li class="item">
            <span class="title">Blanc</span>
            <span class="color white"></span>
            <span class="hexa">#FFFFFF</span>
        </li>
    </ul>
</section>

<section class="typographies-wrapper padding-section">
    <h2 class="custom-title left white">Typographies</h2>

    <div class="typographies-content rokkit-primer">
        {% include svg/marius-primer.svg %}
        {% include svg/marius-rokkit.svg %}

        <p class="custom-description">Rokkit est une typographie mécane, à empattement rectangulaire et épais. On lui attribue des valeurs telles que l’honnêteté, la force et la robustesse, correspondant parfaitement au personnage de Marius.</p>
    </div>
</section>

<section class="technology-wrapper padding-section">
    <div class="content-inner">
        <h2 class="custom-title left black">Technologies</h2>
        <p class="custom-description left gray">Au delà d’un besoin de visibilité évident, le site se devait d’être responsive, la clientèle de Marius étant majoritairement en mouvement, et doit pouvoir trouver le numéro de l’affûteur en quelques secondes depuis son smartphone.</p>
    </div>

    <ul class="technology-list">
        <li class="item symfony"><img src="/static/images/projects/symfony.png" alt="Symfony"></li>
        <li class="item sonata"><img src="/static/images/projects/sonata.png" alt="Sonata"></li>
        <li class="item less"><img src="/static/images/projects/less.png" alt="Less"></li>
    </ul>
</section>

<section class="mosaic-wrapper full-width">
    <ul class="mosaic-list">

        <li class="mosaic-item">
            <div class="mosaic-item-image description">
                <div class="content-inner">
                    <h2 class="custom-title left black">Photographies</h2>
                    <p class="custom-description left gray">Meule sèche, bande abrasive, meule à eau, meule coton, tout cela ne vous dit peut-être rien. Marius a entièrement transformé un taxi londonien en un atelier ambulant.</p>
                </div>
            </div>
        </li>

        <li class="mosaic-item">
            <div class="mosaic-item-image tools1">
                <div class="content" style="background-image:url('/static/images/projects/marius/marius-tools1.jpg');"></div>
            </div>
            <div class="mosaic-item-image tools2">
                <div class="content" style="background-image:url('/static/images/projects/marius/marius-tools2.jpg');"></div>
            </div>
            <div class="mosaic-item-image tools3">
                <div class="content" style="background-image:url('/static/images/projects/marius/marius-tools3.jpg');"></div>
            </div>
        </li>
        <li class="mosaic-item">
            <div class="mosaic-item-image car">
                <div class="content" style="background-image:url('/static/images/projects/marius/marius-car.jpg');"></div>
            </div>
        </li>
    </ul>
</section>

<section class="related-project-wrapper">
    <div class="previous-project mlp">
        <a href="/mylittleparis" title="My Little Paris">
            <div class="multiline">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 385.201 385.201"><path d="M3.543 201.729l179.78 179.781a12.258 12.258 0 0 0 8.794 3.597c.096 0 .168.048.265.048h180.455c6.641 0 12.03-5.39 12.03-12.03 0-.096-.048-.168-.048-.265a12.258 12.258 0 0 0-3.597-8.794L209.826 192.682 381.583 20.938c4.824-4.824 4.824-12.644 0-17.468C378.72.607 374.834-.344 371.117.186H194.139c-3.717-.529-7.603.421-10.466 3.284L3.555 183.575c-2.502 2.502-3.645 5.799-3.549 9.083-.097 3.272 1.034 6.569 3.537 9.071zM197.82 24.246h145.519l-159.33 159.329c-2.502 2.502-3.645 5.799-3.549 9.083-.096 3.272 1.047 6.569 3.549 9.071l159.365 159.365h-145.59L29.372 192.682 197.82 24.246z" fill="#FFF"/></svg>
                <h2 class="custom-little-title">My Little Paris</h2>
            </div>
        </a>
    </div>
    <div class="next-project loom">
        <a href="/loom" title="Loom">
            <div class="multiline">
                <h2 class="custom-little-title">Loom</h2>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 385.201 385.201"><path d="M381.658 183.472L201.878 3.691a12.258 12.258 0 0 0-8.794-3.597c-.096 0-.168-.048-.265-.048H12.364C5.723.046.334 5.436.334 12.076c0 .096.048.168.048.265a12.357 12.357 0 0 0 3.597 8.794l171.384 171.384L3.618 364.263c-4.824 4.824-4.824 12.644 0 17.468 2.863 2.863 6.749 3.814 10.466 3.284h176.978c3.717.529 7.603-.421 10.466-3.284l180.118-180.118c2.502-2.502 3.645-5.799 3.549-9.083.097-3.26-1.046-6.556-3.537-9.058zM187.381 360.955H41.862l159.329-159.329c2.502-2.502 3.645-5.799 3.549-9.083.096-3.272-1.047-6.569-3.549-9.071L41.838 24.106h145.579l168.412 168.412-168.448 168.437z" fill="#FFF"/></svg>
            </div>
        </a>
    </div>
</section>

<script>
    animateLaptop($('section.screen-insitu-wrapper'));
    loadImages($('.mosaic-item-image'));
</script>
