---
layout: default
title: Merci Alfred
description: Merci Alfred est un média lifestyle masculin lancé en 2009, sous la forme d’une newsletter parisienne encore un peu confidentielle qui proposait des bons plans chaque semaine, tels que des restaurants ou des événements éphémères assez difficile à trouver autrement.
permalink: /mercialfred/
body_class: ma project-page
---

<section class="header-project-wrapper">
  <h1 class="project-title">Merci Alfred</h1>
</section>

<section class="presentation-wrapper padding-section">
  <h2 class="custom-title center black">Mais Alfred, c’est qui ?</h2>
  <p class="custom-description center black">
    Merci Alfred est un <strong>média lifestyle masculin</strong> avec une communauté de plus de <strong>140 000 abonnés.</strong> Le média se lance en 2009, sous la forme d’une newsletter parisienne encore un peu confidentielle qui proposait <strong>des bons plans chaque semaine,</strong> tels que
    des restaurants ou des événements éphémères assez difficile à trouver autrement. <br /><br />
    Merci Alfred réussit à s’imposer auprès des hommes urbains avec un style rédactionnel caractérisé par <strong>le format court</strong> : “c’est une manière d’écrire qui demande énormément d’effort de la part de l’auteur. Il faut avoir beaucoup d’idées et une densité de texte le tout dans le plus
    court format possible.”
  </p>

  <a class="custom-button full ma" href="http://www.mylittleparis.com/" title="Aller sur Merci Alfred" target="_blank">Aller sur Merci Alfred</a>
</section>

<section class="roles-wrapper padding-section">
  <div class="background" style="background-image: url('/static/images/projects/mercialfred/mercialfred-presentation.jpg');"></div>

  <div class="content-inner">
    <h2 class="custom-title">Mes rôles</h2>
    <ul class="custom-description roles">
      <li class="roles-item">Chef de projet technique</li>
      <li class="roles-item">Création d’une stack commune</li>
      <li class="roles-item">Développement et Refonte Front-end</li>
      <li class="roles-item">Création d’une stratégie de SEO</li>
      <li class="roles-item">Création d’opérations commerciales</li>
      <li class="roles-item">UX Designer</li>
    </ul>
  </div>
</section>

<section class="screen-insitu-wrapper padding-section">
  <div class="screen-wrapper">
    <img class="screen" src="/static/images/projects/screen.png" alt="Écran" />
    <div class="website" style="background-image: url('/static/images/projects/mercialfred/mercialfred-capture.jpg');"></div>
  </div>
</section>

<section class="technology-wrapper padding-section">
  <div class="content-inner">
    <h2 class="custom-title left black">Technologies</h2>
    <p class="custom-description left gray">
      Refonte du site majeur de Merci Alfred, passant d'un MVC maison au framework Symfony2, et mise en place d’une intégration continue. Côté front, la refonte visait surtout à proposer un site responsive, pour améliorer l’accessibilité et augmenter l’audience de Merci Alfred.
    </p>
  </div>

  <ul class="technology-list">
    <li class="item symfony"><img src="/static/images/projects/symfony.png" alt="Symfony" /></li>
    <li class="item sonata"><img src="/static/images/projects/sonata.png" alt="Sonata" /></li>
    <li class="item less"><img src="/static/images/projects/less.png" alt="Less" /></li>
  </ul>
</section>

<section class="newsletter-wrapper padding-section">
  <div class="newsletter-capture">
    <img src="/static/images/projects/mercialfred/newsletter.jpg" alt="Newsletter Responsive" />
  </div>

  <div class="content-inner">
    <h2 class="custom-title left white">Newsletter responsive</h2>
    <p class="custom-description left white">Merci Alfred communique principalement avec ses abonnés par mail, ce média doit aussi s’adapter à l’accessibilité des utilisateurs. La création d’une newsletter responsive a permis de <strong>quadrupler le temps de lecture sur mobile.</strong></p>
  </div>
</section>

<section class="related-project-wrapper">
  <div class="previous-project martin">
    <a href="/melanie-martin" title="Mélanie Martin">
      {% include svg/arrow-left.svg %}
      <h2 class="related-title"><span>Mélanie Martin</span></h2>
    </a>
  </div>
  <div class="next-project mlp">
    <a href="/mylittleparis" title="My Little Paris">
      <h2 class="related-title"><span>My Little Paris</span></h2>
      {% include svg/arrow-right.svg %}
    </a>
  </div>
</section>

<script>
  animateLaptop($("section.screen-insitu-wrapper"))
  loadImages($(".mosaic-item-image"))
</script>
