---
layout: default
title: Pablo
description: Envie d’expo ? Avec Pablo, découvrez toutes les expos sur Paris et laissez-vous inspirer, achetez directement votre billet sur l’application, et partez vivre une expérience artistique !
permalink: /pablo/
body_class: pablo project-page
---

<section class="header-project-wrapper">
  <h1 class="project-title">Pablo</h1>
</section>

<section class="presentation-wrapper padding-section">
  <h2 class="custom-title center black">Envie d'une expo ?</h2>
  <br />
  <h2 class="custom-title center black">Pablo est l'app qu'il vous faut !</h2>
  <p class="custom-description center black">
    Avec Pablo, <strong>découvrez toutes les expos</strong> sur Paris et <strong>laissez-vous inspirer : achetez directement votre billet sur l’application</strong>, et partez vivre une expérience artistique ! <br /><br />Pablo est une application mobile qui
    <strong>rend les expositions accessibles à tous</strong>, et regroupe l’ensemble des infos sur les expos dans une seule plateforme. Plus besoin de perdre son temps à chercher sur le net, elle permet de découvrir toutes les expos par genre, de les mettre en favoris et de les partager et ceci en
    fonction de ses envies.
  </p>

  <a class="custom-button full pablo" href="https://pablo-app.com/" title="Télécharger Pablo" target="_blank">Télécharger Pablo</a>
</section>

<section class="roles-wrapper padding-section">
  <div class="background" style="background-image: url('/static/images/projects/pablo/pablo-presentation.jpg');"></div>

  <div class="content-inner">
    <h2 class="custom-title">Mes rôles</h2>
    <ul class="custom-description roles">
      <li class="roles-item">Lead de la direction du produit</li>
      <li class="roles-item">Création de la DA</li>
      <li class="roles-item">Conception UI et UX de l’application mobile</li>
      <li class="roles-item">Gestion de l’avancée opérationnelle et technique du developpement de la stack : application mobile, CMS, API</li>
      <li class="roles-item">Developpement du site web</li>
      <li class="roles-item">Developpement du blog</li>
    </ul>
  </div>
</section>

<section class="screen-insitu-wrapper padding-section">
  <div class="screen-wrapper">
    <img class="screen" src="/static/images/projects/pablo/pablo-app.jpg" alt="Pablo" />
  </div>
</section>

<section class="star-wrapper">
  <span>4,9</span>
  {% include svg/stars.svg %} {% include svg/stars.svg %} {% include svg/stars.svg %} {% include svg/stars.svg %}{% include svg/stars.svg %}
</section>

<section class="identity-wrapper padding-section">
  <div class="content-inner">
    <h2 class="custom-title left white">Identité Graphique</h2>
    <p class="custom-description left white">
      Picasso a certes créé le Cubisme mais il a croisé le chemin de beaucoup de mouvements artistiques au XXe. Ce qu’on peut surtout retenir dans son oeuvre, c’est le principe de la déconstruction / reconstruction des formes, notamment des corps qu’il traite comme des modules : carrés, rectangles,
      triangles ou cercles. <br />
      <br />En fonction de son état psychologique et surtout amoureux, les formes et les couleurs sont plus ou moins ternes, criardes, éteintes, agressives. Lors de ses périodes heureuses, celle-ci seront plus rondes, alors que pendant ses ruptures amoureuses, elles deviendront plus cassantes.
      <br /><br />
      C'est cela qui m'a conduit à la création de l'identité de Pablo.
    </p>
  </div>

  <div class="pablo-logo">
    {% include svg/pablo-logo.svg %}
  </div>
</section>

<section class="insta-wrapper padding-section">
  <h2 class="custom-title center black">Réseaux sociaux</h2>
  <p class="custom-description center gray">Création d'une identité graphique sur les réseaux sociaux.</p>
  <img src="/static/images/projects/pablo/pablo-instagram.jpg" alt="Pablo Instagram" />
</section>

<section class="newsletter-wrapper padding-section">
  <div class="newsletter-capture">
    <img src="/static/images/projects/pablo/pablo-flyer.jpg" alt="Flyer" />
  </div>

  <div class="content-inner">
    <h2 class="custom-title left white">Communication Print</h2>
    <p class="custom-description left white">Déclinaison de l'identité graphique sur de multiples supports Print : flyers, affiches, roll-up, stickers, ... .</p>
  </div>
</section>

<script>
  animateLaptop($("section.screen-insitu-wrapper"))
  loadImages($(".mosaic-item-image"))
</script>
