html { height: 100%; background-color: white; }
body { min-height: 100%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: black;
  font-weight: 400;
  border-right:  20px solid white;
  border-left:   20px solid white;
  border-bottom: 20px solid white;
  
  @media #{$mobile} {
    border-right:  10px solid white;
    border-left:   10px solid white;
    border-bottom: 10px solid white;
  }

  header.header {
    $padding: 20px;

    background-color: $white;
    padding: 20px;
    box-sizing: border-box;
    @include clearfix();

    .logo {
      float: left;
      font-family: 'Lato', sans-serif;
      font-size: 16px;
      font-weight: 900;
      letter-spacing: 0.03em;
      color: $black;
      text-decoration: none;
      text-transform: uppercase;
      vertical-align: middle;
    }

    .nav-wrapper {
      float: right;
      font-family: 'Lato', sans-serif;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 0.08em;
      text-align: right;
      vertical-align: middle;

      li {
        display: inline-block;
        margin-right: 24px;
        // &:first-of-type { margin-right: 18px; }

        a {
          color: #c2c2c2;
          text-transform: uppercase;
          text-decoration: none;
          &:hover { color: $black; }
        }
      }
    }
  }

  // ----------------------------------------

  // .custom-main-title {
  //   font-family: 'Lato', sans-serif;
  //   font-size: 60px;
  //   color: white;
  //   font-weight: 900;
  //   letter-spacing: 0.05em;
  //   text-align: center;
  //   line-height: 1.4em;
  //   text-transform: uppercase;
  //   @media #{$mobile} { font-size: 26px; }
  // }

  .custom-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color: black;
    font-weight: 700;
    margin-bottom: 36px;

    &.center { text-align: center; }
    &.left   { text-align: left; }
    &.right  { text-align: right; }
    &.white  { color: white; }
    &.black  { color: black; }
  }

  .custom-description {
    max-width: 50%;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #000000;
    font-weight: 400;
    line-height: 1.6em;
    letter-spacing: 0.03em;
    @media #{$mobile} { max-width: 100%; font-size: 12px; }

    &.center { text-align: center; margin: 0 auto; }
    &.left   { text-align: left; }
    &.right  { text-align: right; }
    &.white  { color: white; }
    &.black  { color: black; }
    &.gray   { color: #666666; }
  }

  .custom-button {
    $size: 54px;

    display: inline-block;
    width: auto;
    height: $size;
    line-height: $size;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    outline: 0;
    margin: 0 auto;
    padding: 0 40px;
    vertical-align: middle;
    @include appearance(none);
    box-sizing: border-box;
    @include transition(all 0.224s ease-in-out); 

    &.full.loom {
      color: $white;
      text-shadow: 0 1px 3px darken($loom-color, 0.6);
      box-shadow: 0 4px 6px rgba($loom-color, 0.11), 0 1px 3px rgba($loom-color, 0.08);
      background-color: $loom-color;

      &:hover {
        background-color: darken($loom-color, 3%);
        transform: translateY(-2px);
        box-shadow: 0 7px 14px rgba($loom-color, 0.1), 0 3px 6px rgba($loom-color, 0.08);
      }
    }

    &.full.edieetwatson {
      color: $white;
      text-shadow: 0 1px 3px darken($edieetwatson-color, 0.6);
      box-shadow: 0 4px 6px rgba($edieetwatson-color, 0.11), 0 1px 3px rgba($edieetwatson-color, 0.08);
      background-color: $edieetwatson-color;

      &:hover {
        background-color: darken($edieetwatson-color, 3%);
        transform: translateY(-2px);
        box-shadow: 0 7px 14px rgba($edieetwatson-color, 0.1), 0 3px 6px rgba($edieetwatson-color, 0.08);
      }
    }

    &.full.marius {
      color: $white;
      text-shadow: 0 1px 3px darken($marius-color, 0.6);
      box-shadow: 0 4px 6px rgba($marius-color, 0.11), 0 1px 3px rgba($marius-color, 0.08);
      background-color: $marius-color;

      &:hover {
        background-color: darken($marius-color, 3%);
        transform: translateY(-2px);
        box-shadow: 0 7px 14px rgba($marius-color, 0.1), 0 3px 6px rgba($marius-color, 0.08);
      }
    }

    &.full.martin {
      color: $white;
      text-shadow: 0 1px 3px darken($martin-color, 0.6);
      box-shadow: 0 4px 6px rgba($martin-color, 0.11), 0 1px 3px rgba($martin-color, 0.08);
      background-color: $martin-color;

      &:hover {
        background-color: darken($martin-color, 3%);
        transform: translateY(-2px);
        box-shadow: 0 7px 14px rgba($martin-color, 0.1), 0 3px 6px rgba($martin-color, 0.08);
      }
    }

    @media #{$mobile} { width: 90%; height: auto; line-height: 1.8em; padding: 10px !important; }

    // &.border.black {
    //   color: @black;
    //   border: 1px solid @black;
    //   background-color: @white; 
    //   margin: 20px auto 30px;
    //   padding: 0 50px;
    //   .font-smoothing();

    //   @transition: ~"color 0.224s ease-in-out, background-color 0.224s ease-in-out";
    //   .transition(@transition);
    //   &:hover { color: @white; background-color: @black; }
    //   @media @mobile { width: 90%; height: auto; line-height: 1.4em; padding: 14px 10px !important; }
    // }

    // &.full.black {
    //   padding: 0 30px;
    //   color: @white;
    //   background-color: @black;
    //   border: 2px solid @black;

    //   @transition: ~"color 0.224s ease-in-out, background-color 0.224s ease-in-out";
    //   .transition(@transition);
    //   &:hover { color: @black; background-color: @white; }
    // }

    
  }
}