html { height: 100%; background-color: white; }
body { min-height: 100%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: black;
  font-weight: 400;
  border-right:  20px solid white;
  border-left:   20px solid white;
  border-bottom: 20px solid white;

  header.header {
    background-color: white;
    padding: 20px 0;
    box-sizing: border-box;

    .nav-wrapper {
      text-align: right;
      margin-right: 20px;

      li {
        display: inline-block;

        a {
          color: #000000;
          text-transform: uppercase;
        }
      }
    }
  }

  // ----------------------------------------

  .custom-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 34px;
    color: black;
    font-weight: 600;

    &.center { text-align: center; }
    &.left   { text-align: left; }
    &.right  { text-align: right; }
    &.white  { color: white; }
    &.black  { color: black; }
  }

  .custom-description {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: black;
    font-weight: 400;

    &.center { text-align: center; }
    &.left   { text-align: left; }
    &.right  { text-align: right; }
    &.white  { color: white; }
    &.black  { color: black; }
  }

  .custom-button {
    
  }
}