html { height: 100%; background-color: white; }
body { min-height: 100%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: black;
  font-weight: 400;
  border-right:  20px solid white;
  border-left:   20px solid white;
  border-bottom: 20px solid white;
  
  @media #{$mobile} {
    border-right:  10px solid white;
    border-left:   10px solid white;
    border-bottom: 10px solid white;
  }

  header.header {
    background-color: white;
    padding: 20px 0;
    box-sizing: border-box;

    .nav-wrapper {
      text-align: right;
      margin-right: 20px;

      li {
        display: inline-block;

        a {
          color: #000000;
          text-transform: uppercase;
        }
      }
    }
  }

  // ----------------------------------------

  // .custom-main-title {
  //   font-family: 'Lato', sans-serif;
  //   font-size: 60px;
  //   color: white;
  //   font-weight: 900;
  //   letter-spacing: 0.05em;
  //   text-align: center;
  //   line-height: 1.4em;
  //   text-transform: uppercase;
  //   @media #{$mobile} { font-size: 26px; }
  // }

  .custom-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color: black;
    font-weight: 700;
    margin-bottom: 36px;

    &.center { text-align: center; }
    &.left   { text-align: left; }
    &.right  { text-align: right; }
    &.white  { color: white; }
    &.black  { color: black; }
  }

  .custom-description {
    max-width: 50%;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #000000;
    font-weight: 400;
    line-height: 1.6em;
    letter-spacing: 0.03em;
    @media #{$mobile} { max-width: 100%; }

    &.center { text-align: center; margin: 0 auto; }
    &.left   { text-align: left; }
    &.right  { text-align: right; }
    &.white  { color: white; }
    &.black  { color: black; }
    &.gray   { color: #666666; }
  }

  .custom-button {
    
  }
}