html {
  height: 100%;
  background-color: white;
}

body {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: $black;
  font-weight: 400;
  min-height: 100%;
  margin: 0 20px 20px 20px;

  @media #{$mobile} {
    margin: 0 10px 10px 10px;
  }
}

.project-title {
  font-family: "SFRounded-Bold", sans-serif;
  font-size: 60px;
  color: $white;
  letter-spacing: 0.08em;
  line-height: 1.4em;
  text-align: center;
  text-transform: uppercase;

  @media #{$mobile} {
    font-size: 44px;
  }
}

.custom-title {
  position: relative;
  display: inline-block;
  font-family: "SFRounded-Bold", sans-serif;
  font-size: 30px;
  color: $black;
  letter-spacing: 0.06em;
  line-height: 1.5em;
  margin-bottom: 36px;
  z-index: 1;

  &.left {
    text-align: left;
  }

  &.right {
    text-align: right;
  }

  &.white {
    color: white;
  }

  &.black {
    color: $black;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0.8em;
    left: 0.4em;
    right: -0.4em;
    bottom: -0.2em;
    background-color: #f1bc52;
    z-index: -1;
  }

  @media #{$mobile} {
    font-size: 26px;
    margin-bottom: 30px;
  }
}

.custom-description {
  max-width: 50%;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: $black;
  font-weight: 400;
  line-height: 1.8em;
  letter-spacing: 0.03em;

  @media #{$mobile} {
    max-width: 100%;
    font-size: 14px;
  }

  strong {
    font-weight: 700;
  }

  &.center {
    text-align: center;
    margin: 0 auto;
  }

  &.left {
    text-align: left;
  }

  &.right {
    text-align: right;
  }

  &.white {
    color: white;
  }

  &.black {
    color: $black;
  }

  &.gray {
    color: #565656;
  }
}

.custom-button {
  $size: 54px;

  display: inline-block;
  width: auto;
  height: $size;
  line-height: $size;
  font-family: "SFRounded-Regular", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: $white;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  outline: 0;
  margin: 0 auto;
  padding: 0 30px;
  vertical-align: middle;
  box-sizing: border-box;
  @include appearance(none);
  @include transition(all 0.224s ease-in-out);

  &:hover {
    transform: translateY(-2px);
  }

  &.full.loom {
    background-color: $loom-color;
    text-shadow: 0.05em 0.08em 0 darken($loom-color, 14%);

    &:hover {
      background-color: darken($loom-color, 6%);
    }
  }

  &.full.edieetwatson {
    background-color: $ew-color;
    text-shadow: 0.05em 0.08em 0 darken($ew-color, 14%);

    &:hover {
      background-color: darken($ew-color, 6%);
    }
  }

  &.full.marius {
    background-color: $marius-color;
    text-shadow: 0.05em 0.08em 0 darken($marius-color, 14%);

    &:hover {
      background-color: darken($marius-color, 6%);
    }
  }

  &.full.martin {
    background-color: $martin-color;
    text-shadow: 0.05em 0.08em 0 darken($martin-color, 14%);

    &:hover {
      background-color: darken($martin-color, 6%);
    }
  }

  &.full.mlp {
    background-color: $mlp-color;
    text-shadow: 0.05em 0.08em 0 darken($mlp-color, 14%);

    &:hover {
      background-color: darken($mlp-color, 6%);
    }
  }

  &.full.ma {
    background-color: $ma-color;
    text-shadow: 0.05em 0.08em 0 darken($ma-color, 14%);

    &:hover {
      background-color: darken($ma-color, 6%);
    }
  }

  &.full.pablo {
    background-color: $pablo-color;
    text-shadow: 0.05em 0.08em 0 darken($pablo-color, 14%);

    &:hover {
      background-color: darken($pablo-color, 6%);
    }
  }

  @media #{$mobile} {
    width: 90%;
    height: auto;
    line-height: 1.8em;
    padding: 16px !important;
  }
}
