html { height: 100%; background-color: white; }
body { min-height: 100%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: $black;
  font-weight: 400;

  border-right:  20px solid white;
  border-left:   20px solid white;
  border-bottom: 20px solid white;
  @media #{$mobile} {
    border-right:  10px solid white;
    border-left:   10px solid white;
    border-bottom: 10px solid white;
  }

  // ----------------------------------------

  .custom-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color: $black;
    font-weight: 700;
    line-height: 1.5em;
    margin-bottom: 36px;

    &.center { text-align: center; }
    &.left   { text-align: left; }
    &.right  { text-align: right; }
    &.white  { color: white; }
    &.black  { color: $black; }
  }

  .custom-description {
    max-width: 50%;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #000000;
    font-weight: 400;
    line-height: 1.6em;
    letter-spacing: 0.03em;
    strong { font-weight: 700; }
    @media #{$mobile} { max-width: 100%; font-size: 12px; }

    &.center { text-align: center; margin: 0 auto; }
    &.left   { text-align: left; }
    &.right  { text-align: right; }
    &.white  { color: white; }
    &.black  { color: $black; }
    &.gray   { color: #666666; }
  }

  .custom-button {
    $size: 50px;

    display: inline-block;
    width: auto;
    height: $size;
    line-height: $size;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    outline: 0;
    margin: 0 auto;
    padding: 0 30px;
    vertical-align: middle;
    box-sizing: border-box;
    @include appearance(none);
    @include transition(all 0.224s ease-in-out);

    &.full.loom {
      background-color: $loom-color;
      color: $white;
      text-shadow: 0em 0.05em 0.05em darken($loom-color, 10%);

      &:hover {
        background-color: darken($loom-color, 3%);
        transform: translateY(-2px);
      }
    }

    &.full.edieetwatson {
      background-color: $edieetwatson-color;
      color: $white;
      text-shadow: 0em 0.05em 0.05em darken($edieetwatson-color, 12%);

      &:hover {
        background-color: darken($edieetwatson-color, 3%);
        transform: translateY(-2px);
      }
    }

    &.full.marius {
      background-color: $marius-color;
      color: $white;
      text-shadow: 0.03em 0.06em 0.05em darken($marius-color, 10%);

      &:hover {
        background-color: darken($marius-color, 3%);
        transform: translateY(-2px);
      }
    }

    &.full.martin {
      background-color: $martin-color;
      color: $white;
      text-shadow: 0em 0.05em 0.05em darken($martin-color, 10%);

      &:hover {
        background-color: darken($martin-color, 3%);
        transform: translateY(-2px);
      }
    }

    @media #{$mobile} { width: 90%; height: auto; line-height: 1.8em; padding: 10px !important; }

    // &.border.black {
    //   color: @black;
    //   border: 1px solid @black;
    //   background-color: @white;
    //   margin: 20px auto 30px;
    //   padding: 0 50px;
    //   .font-smoothing();

    //   @transition: ~"color 0.224s ease-in-out, background-color 0.224s ease-in-out";
    //   .transition(@transition);
    //   &:hover { color: @white; background-color: @black; }
    //   @media @mobile { width: 90%; height: auto; line-height: 1.4em; padding: 14px 10px !important; }
    // }
  }
}