body.contact {
  background-color: teal;
  @media #{$mobile} { background-color: $white; }

  section.contact-page-wrapper {
    height: 100vh;
    line-height: 100vh;

    font-size: 0;
    text-align: center;
    padding: 0 $s-pad-sides;
    border-bottom: 4px solid #FFF;
    padding-top: $header-height;
    box-sizing: border-box;

    @media #{$mobile-portrait} {
      height: 90vh;
      line-height: 80vh;
      margin-top: 0;
      background-color: teal;
    }

    @media #{$mobile-landscape} {
      height: auto;
      line-height: normal;
      margin-top: 0;
      padding: ($header-height + $s-pad-top-mob) $s-pad-sides-mob $s-pad-top-mob + 30px;
      background-color: teal;
    }

    .content-inner {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
      font-size: 1rem;
      margin-top: -$header-height;
      @media #{$mobile} { margin-top: 0; }
      @media #{$mobile-landscape} { max-width: 80%; }
    }

    h1 {
      font-family: 'Lato', sans-serif;
      font-size: 60px;
      color: white;
      font-weight: 700;
      letter-spacing: 0.05em;
      text-align: center;
      line-height: 1.4em;
      text-transform: uppercase;
      @media #{$mobile} { font-size: 26px; }
    }

    .custom-description {
      font-weight: 300;
      margin-top: 30px;
      @media #{$ipad-portrait} { max-width: 70%; }
    }

    a {
      position: relative;
      display: inline-block;
      color: $white;
      text-decoration: none;
      margin-top: 60px;
      padding: 20px 20px 12px 20px;
    }

    a::before,
    a::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      content: '';
      background: $white;
      opacity: 0.2;
      $transition: opacity 0.3s, height 0.3s;
      @include transition($transition); 
    }

    a::after {
      top: 100%;
      opacity: 0;
      $transition: transform 0.3s, opacity 0.3s;
      @include transition($transition); 
      @include transform(translateY(-22px)); 
    }

    a span:first-child {
      z-index: 2;
      display: block;
      font-weight: 300;
      font-size: 18px;
      letter-spacing: 0.04em;
    }

    a span:last-child {
      z-index: 1;
      display: block;
      font-family: 'Lato', sans-serif;
      font-size: 0.8em;
      font-weight: 100;
      letter-spacing: 0.04em;
      color: $white;
      font-style: italic;
      text-shadow: none;
      text-transform: none;
      padding: 20px 0 0 0;
      opacity: 0;
      $transition: transform 0.3s, opacity 0.3s;
      @include transition($transition); 
      @include transform(translateY(-100%)); 
    }

    a:hover::before,
    a:focus::before {
      height: 1px;
    }

    a:hover::before,
    a:hover::after,
    a:focus::before,
    a:focus::after {
      opacity: 1;
      @include transform(translateY(0px));
    }

    a:hover span:last-child,
    a:focus span:last-child {
      opacity: 0.5;
      @include transform(translateY(0%));
    }
  }
}