// COLORS

$white: #FFF;
// $black: #000;
$black: #232323;
$gray: #F4F4F4;
$anthracite: #515151;

$loom-color: #2f3f56;
$edieetwatson-color: #000e84;

$marius-color: #232323;
$marius-color-2: #d28a39;

$martin-color: #30b9c2;


// Variables

$header-size: 60px;
$s-pad-top: 150px;
$s-pad-top-mob: 80px;
$s-pad-sides: 7%;
$s-pad-sides-mob: 7%;

$margin-mosaic: 3px;