// COLORS

$white: #FFF;
$black: #232323;
$gray: #F8F8F8;
$anthracite: #515151;

// COLORS PROJECTS

$loom-color: #516c8d;
$edieetwatson-color: #000e84;
$martin-color: #30b9c2;
$marius-color: #d28a39;


// VARIABLES

$header-size: 60px;
$margin-mosaic: 3px;

$s-pad-top: 140px;
$s-pad-top-mob: 80px;
$s-pad-sides: 7%;
$s-pad-sides-mob: 7%;