// .opacity (@val) {
//   opacity: @val; 
//   filter: ~"alpha(opacity="@val*100~")";
// }

// @mixin border-radius ($radius: 5px) {
//   border-radius: $radius;
//   -webkit-border-radius: $radius;
//   -moz-border-radius: $radius;
// }

// .box-shadow (@shadow: 0 0 5px #333) {
//   -moz-box-shadow: @shadow;
//   -webkit-box-shadow: @shadow;
//   box-shadow: @shadow;
// }

// .text-shadow (@shadow: 0 0 5px #333) {
//   -moz-text-shadow: @shadow;
//   -webkit-text-shadow: @shadow;
//   text-shadow: @shadow;
// }

// .rotate (@angle) {
//   -webkit-transform: rotate(@angle);
//   -moz-transform: rotate(@angle);
//   -ms-transform: rotate(@angle);
//   -o-transform: rotate(@angle);
//   transform: rotate(@angle);
//   zoom: 1;
// }

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}




// .transition-transform (@transition: 0.1s ease-in) {
//   -webkit-transition: -webkit-transform @transition;
//   -moz-transition: -moz-transform @transition;
//   -ms-transition: -ms-transform @transition;
//   -o-transition: -o-transform @transition;
//   transition: transform @transition;
// }

@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}

// .transform-origin (@origin: 50% 50%) {
//   -webkit-transform-origin: @origin;
//   -moz-transform-origin: @origin;
//   -ms-transform-origin: @origin;
//   -o-transform-origin: @origin;
//   transform-origin: @origin;
// }

// .animation (@transition: myanimation 0.2s infinite) {
//   -webkit-animation: @transition;
//   -moz-animation: @transition;
//   -ms-animation: @transition;
//   -o-animation: @transition;
//   animation: @transition;
// }

// .animation-fill-mode (@state: both) {
//   -webkit-animation-fill-mode: @state;
//   -moz-animation-fill-mode: @state;
//   -ms-animation-fill-mode: @state;
//   -o-animation-fill-mode: @state;
//   animation-fill-mode: @state;
// }

// .placeholder-color (@color: #FFF) {
//   &::-webkit-input-placeholder { color: @color; }
//   &:-moz-placeholder { color: @color; }
//   &::-moz-placeholder { color: @color; }
//   &:-ms-input-placeholder { color: @color; }
// }

@mixin appearance($state) {
  -moz-appearance: $state;
  -webkit-appearance: $state;
}

/* ------------------------------------------------------------------------------------------------------------------------------------ */

@mixin clearfix() {
  &:before, &:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after { clear: both; }
  zoom: 1;
}

/* ------------------------------------------------------------------------------------------------------------------------------------ */

// .box-linear-gradient (@from) {
//   background-color: @from;
//   background-image: -webkit-gradient(linear,left top,left bottom,from(lighten(@from, 5%)),to(darken(@from, 5%))); /* Saf4+,Chrome */
//   background-image: -webkit-linear-gradient(top,lighten(@from, 5%),darken(@from, 5%)); /* Chrome 10+,Saf5.1+,iOS 5+ */
//   background-image: -moz-linear-gradient(top,lighten(@from, 5%),darken(@from, 5%)); /* FF3.6 */
//   background-image: -ms-linear-gradient(top,lighten(@from, 5%),darken(@from, 5%)); /* IE10 */
//   background-image: -o-linear-gradient(top,lighten(@from, 5%),darken(@from, 5%)); /* Opera 11.10+ */
//   background-image: linear-gradient(top,lighten(@from, 5%),darken(@from, 5%));
// }

// .box-linear-gradient (@from,@to) {
//   background-color: @from;
//   background-image: -webkit-gradient(linear,left top,left bottom,from(@from),to(@to)); /* Saf4+,Chrome */
//   background-image: -webkit-linear-gradient(top,@from,@to); Chrome 10+,Saf5.1+,iOS 5+
//   background-image: -moz-linear-gradient(top,@from,@to); /* FF3.6 */
//   background-image: -ms-linear-gradient(top,@from,@to); /* IE10 */
//   background-image: -o-linear-gradient(top,@from,@to); /* Opera 11.10+ */
//   background-image: linear-gradient(top,@from,@to);
// }

// .box-radial-gradient (@from,@to) {
//   background: @from; /* Old browsers */
//   background: -moz-radial-gradient(center,ellipse cover, @from 0%,@to 100%); /* FF3.6+ */
//   background: -webkit-gradient(radial,center center,0px,center center,100%,color-stop(0%,@from),color-stop(100%,@to)); /* Chrome,Safari4+ */
//   background: -webkit-radial-gradient(center,ellipse cover, @from 0%,@to 100%); /* Chrome10+,Safari5.1+ */
//   background: -o-radial-gradient(center,ellipse cover, @from 0%,@to 100%); /* Opera 12+ */
//   background: -ms-radial-gradient(center,ellipse cover, @from 0%,@to 100%); /* IE10+ */
//   background: radial-gradient(center,ellipse cover, @from 0%,@to 100%); /* W3C */
// }

/* ------------------------------------------------------------------------------------------------------------------------------------ */

// .box-shadow-left (@shadow-properties: 0 0 5px #333) {
//   overflow: hidden;
//   &:before{
//     content: '';
//     position: absolute;
//     right: 100%;
//     top: 0;
//     height: 100%;
//     width: 100%;
//     box-shadow: @shadow-properties;
//   }
// }

// .box-shadow-right (@shadow-properties: 0 0 5px #333) {
//   overflow: hidden;
//   &:before{
//     content: '';
//     position: absolute;
//     left: 100%;
//     top: 0;
//     height: 100%;
//     width: 100%;
//     box-shadow: @shadow-properties;
//   }
// }

// .box-shadow-left-right (@shadow-properties: 0 0 5px #333) {
//   overflow: hidden;
//   &:before{
//     content: '';
//     position: absolute;
//     left: 100%;
//     top: 0;
//     height: 100%;
//     width: 100%;
//     box-shadow: @shadow-properties;
//   }
//   &:after{
//     content: '';
//     position: absolute;
//     right: 100%;
//     top: 0;
//     height: 100%;
//     width: 100%;
//     box-shadow: @shadow-properties;
//   }
// }

// .box-shadow-top (@shadow-properties: 0 0 5px #333) {
//   overflow: hidden;
//   &:before{
//     content: '';
//     position: absolute;
//     right: 0;
//     bottom: 100%;
//     height: 100%;
//     width: 100%;
//     box-shadow: @shadow-properties;
//   }
// }

// .box-shadow-bottom (@shadow-properties: 0 0 5px #333) {
//   overflow: hidden;
//   &:before{
//     content: '';
//     position: absolute;
//     right: 0;
//     top: 100%;
//     height: 100%;
//     width: 100%;
//     box-shadow: @shadow-properties;
//   }
// }

// .box-shadow-top-bottom (@shadow-properties: 0 0 5px #333) {
//   overflow: hidden;
//   &:after{
//     content: '';
//     position: absolute;
//     right: 0;
//     bottom: 100%;
//     height: 100%;
//     width: 100%;
//     box-shadow: @shadow-properties;
//   }
//   &:before{
//     content: '';
//     position: absolute;
//     right: 0;
//     top: 100%;
//     height: 100%;
//     width: 100%;
//     box-shadow: @shadow-properties;
//   }
// }

/* ------------------------------------------------------------------------------------------------------------------------------------ */

// .unselectable() {
//   -moz-user-select: none;
//   -webkit-user-select: none;
//   -ms-user-select: none;
// }
