@mixin border-radius ($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

@mixin box-shadow ($shadow) {
  -moz-box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin text-shadow ($shadow) {
  -moz-text-shadow: $shadow;
  -webkit-text-shadow: $shadow;
  text-shadow: $shadow;
}

@mixin rotate ($angle) {
  -webkit-transform: rotate($angle);
  -moz-transform: rotate($angle);
  -ms-transform: rotate($angle);
  -o-transform: rotate($angle);
  transform: rotate($angle);
  zoom: 1;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin transition-transform ($transition) {
  -webkit-transition: -webkit-transform $transition;
  -moz-transition: -moz-transform $transition;
  -ms-transition: -ms-transform $transition;
  -o-transition: -o-transform $transition;
  transition: transform $transition;
}

@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}

@mixin animation ($transition) {
  -webkit-animation: $transition;
  -moz-animation: $transition;
  -ms-animation: $transition;
  -o-animation: $transition;
  animation: $transition;
}

@mixin appearance($state) {
  -moz-appearance: $state;
  -webkit-appearance: $state;
}

/* ------------------------------------------------------------------------------------------------------------------------------------ */

@mixin clearfix() {
  &:before, &:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after { clear: both; }
  zoom: 1;
}

@mixin unselectable() {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
