body.homepage {

  section.header-homepage-wrapper {
    background-color: #30b9c2 !important;
  }

  section.last-project-wrapper {
    padding: 100px 0 !important;
    @media #{$mobile} { padding: 60px 0 !important; }

    ul.mosaic-list {
      margin-top: 60px;

      li.mosaic-item {
        width: (100% / 3);
        vertical-align: top;
        @media #{$mobile-portrait} { width: 100%; }

        a:hover {
          opacity: 0.6;
        }

        div.mosaic-item-image {
          opacity: 1 !important;

          &.marius{
            &:before {
              $height: 500px;
              $width: 450px;
              padding-top: ($height / $width) * 100%;
            }

            .content {
              background-color: $marius-color;
            }
          }

          &.loom:before {
            $height: 650px;
            $width: 450px;
            padding-top: ($height / $width) * 100%;
          }

          &.edieetwatson {
            margin-top: 90px;
            @media #{$mobile-portrait} { margin-top: 0; }

            &:before {
              $height: 550px;
              $width: 450px;
              padding-top: ($height / $width) * 100%;
            }
          }

          &.martin:before {
            $height: 630px;
            $width: 450px;
            padding-top: ($height / $width) * 100%;
          }

          &.mercialfred {
            margin-top: 30px;
            @media #{$mobile-portrait} { margin-top: 0; }

            &:before {
              $height: 560px;
              $width: 450px;
              padding-top: ($height / $width) * 100%;
            }

            .content {
              background-color: #237897;
            }
          }

          &.mylittleparis {
            $height: 450px;
            $width: 450px;

            &:before {
              padding-top: ($height / $width) * 100%;
            }

            .content {
              text-align: center;
              vertical-align: middle;
              line-height: $height;
              background-color: #98d2bf;

              &:before {
                $margin: 10px;

                content: "";
                position: absolute;
                top: $margin;
                left: $margin;
                right: $margin;
                bottom: $margin;
                border: 2px solid $white;
              }

              svg {
                max-width: 70%;
                fill: $white;
                vertical-align: middle;
                line-height: normal;
              }
            }
          }
        }
      }
    }
  }
}