body.homepage {

section.header-homepage-wrapper {
    $color: #2fb5ca;
    height: 78vh;
    line-height: 78vh;
    font-size: 0;
    text-align: center;
    padding: $header-height $s-pad-sides 0;
    background-color: $color !important;
    box-sizing: border-box;

    @media #{$mobile} {
      height: auto;
      line-height: normal;
      margin-top: 0;
      // padding: 110px $s-pad-sides !important;
      padding: ($header-height + $s-pad-top-mob) $s-pad-sides  $s-pad-top-mob + 30px;
      background-color: teal;
    }

    .content-inner {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
      font-size: 1rem;
      margin-top: -$header-height;
      @media #{$mobile} { margin-top: 0; }
    }

    .custom-title {
      font-family: 'Lato', sans-serif;
      font-size: 60px;
      color: $white;
      font-weight: 700;
      letter-spacing: 0.05em;
      text-align: center;
      line-height: 1.4em;
      text-transform: uppercase;
      margin-bottom: 0;
      text-shadow: 0.05em 0.08em 0 darken($color, 5%);
      @media #{$mobile} { font-size: 38px; }
    }

    .custom-subtitle {
      font-family: 'Lato', sans-serif;
      font-size: 19px;
      color: $white;
      font-weight: 300;
      letter-spacing: 0.05em;
      text-align: center;
      line-height: 1.4em;
      text-transform: uppercase;
      text-shadow: 0.05em 0.08em 0 darken($color, 5%);
      @media #{$mobile} { font-size: 15px; }
    }
  }

  section.last-project-wrapper {
    padding: 100px 0 !important;
    @media #{$mobile} { padding: 60px 0 !important; }

    ul.mosaic-list {
      margin-top: 60px;

      li.mosaic-item {
        width: (100% / 3);
        vertical-align: top;
        @media #{$mobile-portrait} { width: 100%; }

        div.mosaic-item-image {

          &.marius:before {
            $height: 500px;
            $width: 450px;
            padding-top: ($height / $width) * 100%;
          }

          &.loom {
            margin-top: 110px;
            @media #{$mobile-portrait} { margin-top: 0; }

            &:before {
              $height: 650px;
              $width: 450px;
              padding-top: ($height / $width) * 100%;
            }
          }

          &.edieetwatson {
            margin-top: 0px;
            @media #{$mobile-portrait} { margin-top: 0; }

            &:before {
              $height: 550px;
              $width: 450px;
              padding-top: ($height / $width) * 100%;
            }
          }

          &.martin:before {
            $height: 630px;
            $width: 450px;
            padding-top: ($height / $width) * 100%;
          }

          &.mercialfred {
            margin-top: 60px;
            @media #{$mobile-portrait} { margin-top: 0; }

            &:before {
              $height: 560px;
              $width: 450px;
              padding-top: ($height / $width) * 100%;
            }

            .content {
              background-color: #237897;
              overflow: hidden;

              svg {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                margin: auto;
                height: 84%;
                fill: $white;
              }
            }
          }

          &.mylittleparis {
            &:before {
              $height: 450px;
              $width: 450px;
              padding-top: ($height / $width) * 100%;
            }

            .content {
              background-color: #98d2bf;

              &:before {
                $margin: 10px;

                content: "";
                position: absolute;
                top: $margin;
                left: $margin;
                right: $margin;
                bottom: $margin;
                border: 2px solid $white;
              }

              svg {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                margin: auto;
                height: 54%;
                fill: $white;
              }
            }
          }
        }

        div.mosaic-item-image .hover {
          position: absolute;
          top: $margin-mosaic;
          left: $margin-mosaic;
          right: $margin-mosaic;
          bottom: $margin-mosaic;

          .title {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 1em;
            line-height: 1em;
            margin-top: -0.5em;
            font-family: 'Lato', sans-serif;
            font-size: 28px;
            font-weight: 700;
            text-align: center;
            color: $white;
            text-transform: uppercase;
            letter-spacing: 0.06em;
            text-shadow: 0.01em 0.02em 0.01em darken($white, 50);
            opacity: 0;
            @include transition(opacity 0.224s ease-out);
            @media #{$mobile} { font-size: 20px; }
          }

          &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: $black;
            opacity: 0;
            @include transition(opacity 0.224s ease-out);
          }

          .cross {
            $width: 70%;
            $height: 2px;

            &:before, &:after {
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              width: $width;
              height: $height;
              margin-top: -$height / 2;
              margin-left: -$width / 2;
              background-color: $white;
              opacity: 0;
              @include transition(all 0.224s ease-out);
            }
          }
        }

        div.mosaic-item-image:hover .hover {
          .title { opacity: 1; }
          &:before { opacity: 0.1; }
          .cross:before, .cross:after { opacity: 0.6; }
          .cross:before { @include transform(rotate(-45deg)); }
          .cross:after { @include transform(rotate(45deg)); }
        }
      }
    }
  }
}