header.header {
  height: $header-height;
  line-height: $header-height;
  font-size: 0;
  padding: 0 8px 0 20px;
  box-sizing: border-box;
  background-color: $white;
  @include clearfix();

  @media #{$mobile} {
    padding: 0 0 0 10px;
  }

  .flotting-header & {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .logo {
    float: left;
    font-family: "SFRounded-Bold", sans-serif;
    font-size: 17px;
    letter-spacing: 0.1em;
    color: $black;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;

    span {
      font-family: "SFRounded-Light", sans-serif;
    }

    @media #{$mobile-portrait} {
      font-size: 14px;
    }
  }

  .nav-wrapper {
    float: right;

    ul,
    li {
      height: $header-height;
    }

    li {
      display: inline-block;

      a {
        display: block;
        color: #c2c2c2;
        font-family: "SFRounded-Bold", sans-serif;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        text-decoration: none;
        padding: 0 12px;
        @include transition(color 0.224s ease-in-out);

        &:hover {
          color: $black;
        }

        &.active {
          color: $black;
        }

        @media #{$mobile-portrait} {
          font-size: 11px;
          padding: 0 6px;
        }
      }

      @media #{$mobile-portrait} {
        &:first-of-type {
          display: none;
        }
      }
    }
  }
}

footer.footer {
  $color: #f8f8f8;

  padding: 40px 0;
  background-color: $color;
  text-align: center;
  border-top: 4px solid $white;
  box-sizing: border-box;

  span {
    display: block;
    font-family: "SFRounded-Light", sans-serif;

    &.email {
      font-size: 18px;
      font-weight: 300;
      line-height: 1.6em;
      letter-spacing: 0.1em;

      a {
        text-decoration: none;
        color: darken($color, 16%);
        &:hover {
          color: darken($color, 40%);
        }
      }
    }

    &.copyright {
      font-size: 10px;
      font-weight: 100;
      color: darken($color, 16%);
      letter-spacing: 0.14em;
      text-transform: uppercase;
      line-height: 1.8em;
      padding: 0 20px;
    }
  }
}
