body.loom {
  
  section.header-project-wrapper {
    background-color: $loom-color;
  }

  section.roles-wrapper {
    background-color: $gray;
    .bullet { background-color: $loom-color; }
  }
  
  section.technology-wrapper {
    background-color: $gray;

    .technoligies-list {
      text-align: center;
      margin-top: 60px;
      @media #{$mobile} { margin-top: 40px; }

      .item {
        display: inline-block;
        margin-top: 50px;
        margin-left: 3%;
        margin-right: 3%;
        img { height: 100%; }

        &.shopify { height: 130px; }
        &.sass    { height: 100px; }
        &.stripe  { height: 90px; }

        @media #{$mobile} {
          margin-top: 40px;
          margin-left: 8%;
          margin-right: 8%;
          &.shopify { height: 60px; }
          &.sass    { height: 60px; }
          &.stripe  { height: 50px; }
        }
      }
    }
  }

  section.mosaic-wrapper {
    padding: $s-pad-top 0;
    
    ul.mosaic-list {
     
      li.mosaic-item {
        
        &:first-of-type {
          width: 60%;
          vertical-align: bottom;
          @media #{$mobile-portrait} { width: 100%; }
        }

        &:nth-child(2) {
          width: 40%; vertical-align: bottom;
          @media #{$mobile-portrait} { display: none; }
        }

        &:last-of-type { width: 100%; text-align: right; vertical-align: top; }
      }

      div.mosaic-item-image {

        &.hanger:before {
          $height: 550px;
          $width: 830px;
          padding-top: ($height / $width) * 100%;
        }

        &.shirt-w  {
          display: inline-block;
          width: 50%;

           &:before {
            $height: 490px;
            $width: 412px;
            padding-top: ($height / $width) * 100%;
          }
        }

        &.shirt-b {
          display: inline-block;
          width: 50%;

          &:before {
            $height: 490px;
            $width: 412px;
            padding-top: ($height / $width) * 100%;
          }
        }

        &.shirt-g:before {
          $height: 1200px;
          $width: 540px;
          padding-top: ($height / $width) * 100%;
        }

        &.coil {
          display: inline-block;
          width: 70%;
          @media #{$mobile-portrait} { width: 100%; }

           &:before {
            $height: 245px;
            $width: 505px;
            padding-top: ($height / $width) * 100%;
          }
        }
      }
    }
  }
}