body.project-page {
  section.padding-section {
    margin-top: 4px;
    background-color: $gray;
    padding: $s-pad-top $s-pad-sides;

    @media #{$mobile} {
      padding: $s-pad-top-mob $s-pad-sides;
    }
  }

  section.full-width {
    margin-top: 4px;
    padding: $s-pad-top 0;

    @media #{$mobile} {
      padding: $s-pad-top-mob 0;
    }
  }

  section.header-project-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    height: 400px;
    padding: 0 30px;

    @media #{$mobile} {
      height: 320px;
    }

    .project-title {
      font-family: "SFRounded-Bold", sans-serif;
      font-size: 60px;
      color: $white;
      letter-spacing: 0.08em;
      line-height: 1.4em;
      text-align: center;
      text-transform: uppercase;

      @media #{$mobile} {
        font-size: 44px;
      }
    }
  }

  section.presentation-wrapper {
    background-color: $white;
    text-align: center;
    padding: ($s-pad-top - 40px) $s-pad-sides;

    @media #{$mobile} {
      padding: $s-pad-top-mob $s-pad-sides;
    }

    .custom-description {
      max-width: 60%;
      margin-bottom: 40px;

      @media #{$mobile} {
        max-width: 100%;
      }

      @media #{$ipad-portrait} {
        max-width: 70%;
      }
    }
  }

  section.roles-wrapper {
    position: relative;
    padding: 0;

    @media #{$mobile} {
      width: 100%;
      margin-left: 0;
    }

    .background {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 50%;
      font-size: 1rem;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      vertical-align: top;

      @media #{$ipad-portrait} {
        width: 36%;
      }

      @media #{$mobile} {
        display: none;
      }
    }

    .content-inner {
      width: 50%;
      margin-left: 50%;
      font-size: 1rem;
      vertical-align: top;
      padding: $s-pad-top 3% $s-pad-top 8%;
      box-sizing: border-box;

      @media #{$mobile} {
        width: 100%;
        margin-left: 0;
        padding: $s-pad-top-mob $s-pad-sides-mob;
      }

      @media #{$ipad-portrait} {
        width: 64%;
        margin-left: 36%;
      }

      .custom-description {
        max-width: 100%;

        &.roles {
          $bullet-size: 8px;
          $line-height: 1.4em;

          font-size: 16px;
          color: $black;
          line-height: $line-height;
          padding-left: 8%;

          @media #{$mobile-portrait} {
            font-size: 14px;
            padding-left: 5%;
          }

          .roles-item {
            position: relative;
            padding-left: $bullet-size + 30px;
            margin-bottom: 16px;

            &:last-child {
              margin-bottom: 0;
            }

            &:before {
              content: "";
              position: absolute;
              top: $line-height / 2;
              left: 0;
              margin-top: -$bullet-size * 0.52;
              width: $bullet-size;
              height: $bullet-size;
              border-radius: $bullet-size / 2;

              @media #{$mobile-portrait} {
                margin-right: 12px;
              }
            }
          }
        }

        &.about {
          font-weight: 300;
          font-size: 13px;
          color: $anthracite;
          line-height: 2.3em;
          letter-spacing: 0.06em;
          margin-top: 50px;
        }
      }
    }
  }

  section.screen-insitu-wrapper {
    background-color: $white;
    opacity: 0;
    @include transition(all 1s ease-in-out);
    @include transform(translate(0, 30px));

    @media #{$mobile-portrait} {
      padding-left: 0;
      padding-right: 0;
    }

    .screen-wrapper {
      position: relative;

      .screen {
        max-width: 100%;
      }

      .website {
        position: absolute;
        top: 6.4%;
        left: 11.8%;
        width: 76.4%;
        height: 82%;
        background-position: center top;
        background-repeat: no-repeat;
        background-size: 100%;
      }
    }

    &.show {
      opacity: 1;
      @include transform(translate(0, 0));
    }
  }

  section.newsletter-wrapper {
    background-color: $gray;
    font-size: 0;

    .newsletter-capture {
      display: inline-block;
      width: 50%;
      font-size: 1rem;
      vertical-align: top;
      text-align: right;
      margin-right: 10%;

      img {
        max-width: 90%;
      }

      @media #{$mobile} {
        width: 100%;
        margin-right: 0;
      }
    }

    .content-inner {
      display: inline-block;
      width: 40%;
      font-size: 1rem;
      vertical-align: top;
      .custom-description {
        max-width: 100%;
        font-weight: 300;
      }

      @media #{$mobile} {
        width: 100%;
        margin-top: 50px;
      }
    }
  }

  section.mosaic-wrapper {
    padding-top: 0;

    ul.mosaic-list {
      font-size: 0;
      margin-left: -$margin-mosaic;
      margin-right: -$margin-mosaic;

      li.mosaic-item {
        display: inline-block;

        a {
          display: block;
        }

        div.mosaic-item-image {
          position: relative;
          opacity: 0;
          @include transition(all 0.5s ease-out);
          @include transform(translate(0, 20px));

          &.show {
            opacity: 1;
            @include transform(translate(0, 0));
          }

          > .content {
            position: absolute;
            top: $margin-mosaic;
            left: $margin-mosaic;
            right: $margin-mosaic;
            bottom: $margin-mosaic;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            background-color: $gray;
          }

          &:before {
            display: inline-block;
            content: "";
            width: 100%;
          }
        }
      }
    }
  }

  .related-project-wrapper {
    font-size: 0;

    .previous-project,
    .next-project {
      display: inline-block;
      width: calc(50% - 4px);
      height: 80px;
      line-height: 80px;
      font-size: 1rem;
      @include transition(background-color 0.4s ease-out);

      @media #{$mobile} {
        width: 100%;
        height: 60px;
        line-height: 60px;
      }

      .multiline {
        display: inline-block;
        line-height: normal;
        vertical-align: middle;
        padding: 0 30px;
        box-sizing: border-box;
      }

      svg {
        width: 20px;
        vertical-align: middle;
        @media #{$mobile} {
          width: 16px;
        }
        @include transition(all 0.2s ease-out);
      }

      .custom-little-title {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
        font-family: "Lato", sans-serif;
        font-size: 22px;
        color: $white;
        font-weight: 700;
        letter-spacing: 0.05em;
        line-height: 1.4em;
        text-transform: uppercase;
        @media #{$mobile} {
          font-size: 18px;
        }
      }

      a {
        display: block;
        text-decoration: none;
      }

      &.loom {
        background-color: $loom-color;
        .custom-little-title {
          text-shadow: 0.05em 0.08em 0 darken($loom-color, 10%);
        }
        &:hover {
          background-color: darken($loom-color, 4%);
        }
      }

      &.edieetwatson {
        background-color: $ew-color;
        .custom-little-title {
          text-shadow: 0.05em 0.08em 0 darken($ew-color, 10%);
        }
        &:hover {
          background-color: darken($ew-color, 4%);
        }
      }

      &.martin {
        background-color: $martin-color;
        .custom-little-title {
          text-shadow: 0.05em 0.08em 0 darken($martin-color, 10%);
        }
        &:hover {
          background-color: darken($martin-color, 4%);
        }
      }

      &.marius {
        background-color: $marius-color;
        .custom-little-title {
          text-shadow: 0.05em 0.08em 0 darken($marius-color, 10%);
        }
        &:hover {
          background-color: darken($marius-color, 4%);
        }
      }

      &.ma {
        background-color: $ma-color;
        .custom-little-title {
          text-shadow: 0.05em 0.08em 0 darken($ma-color, 10%);
        }
        &:hover {
          background-color: darken($ma-color, 4%);
        }
      }

      &.mlp {
        background-color: $mlp-color;
        .custom-little-title {
          text-shadow: 0.05em 0.08em 0 darken($mlp-color, 10%);
        }
        &:hover {
          background-color: darken($mlp-color, 4%);
        }
      }
    }

    .previous-project {
      margin-right: 2px;
      text-align: left;
      svg {
        margin-right: 10px;
      }
      @media #{$mobile} {
        margin-right: 0;
        margin-bottom: 4px;
      }

      &:hover svg {
        @include transform(translateX(-8px));
      }
    }

    .next-project {
      margin-left: 2px;
      text-align: right;
      svg {
        margin-left: 10px;
      }
      @media #{$mobile} {
        margin-left: 0;
      }

      &:hover svg {
        @include transform(translateX(8px));
      }
    }
  }
}
