body.edieetwatson {

  section.header-project-wrapper {
    background-color: $ew-color;
    .custom-main-title { text-shadow: 0em 0.05em 0.05em darken($ew-color, 6%); }
  }

  section.concept-wrapper {
    background-color: $gray;
  }

  section.roles-wrapper {
    background-color: $gray;
    .bullet { background-color: $ew-color; }
  }

  section.technology-wrapper {
    background-color: $gray;
    padding-left: 20%;
    padding-right: 20%;
    @media #{$mobile} { padding-left: $s-pad-sides-mob; padding-right: $s-pad-sides-mob; }
    @media #{$ipad-portrait} { padding-left: 10%; padding-right: 10%; }

    .custom-title {
      @media #{$mobile} { text-align: center; }
    }

    .custom-description {
      max-width: 70%;
      @media #{$mobile} { max-width: 100%; text-align: center; }
      @media #{$ipad-portrait} { max-width: 80%; }
    }

    .technology-list {
      text-align: left;
      margin-top: 60px;
      @media #{$mobile} { margin-top: 40px; text-align: center; }

      .item {
        display: inline-block;
        margin-top: 50px;
        margin-left: 3%;
        margin-right: 3%;
        img { height: 100%; }

        &.shopify { height: 130px; }
        &.sass    { height: 100px; }
        &.stripe  { height: 90px; }
        &:first-of-type { margin-left: 0; }

        @media #{$mobile} {
          margin-top: 40px;
          margin-left: 10%;
          margin-right: 10%;
          &.shopify { height: 60px; }
          &.sass    { height: 60px; }
          &.stripe  { height: 50px; }
          &:first-of-type { margin-left: 10%; }
        }
      }
    }
  }

  section.mosaic-wrapper {
    padding-top: $s-pad-top;
    @media #{$mobile} { padding-top: $s-pad-top-mob; }

    ul.mosaic-list {
      li.mosaic-item {
        width: (100% / 3);
        vertical-align: top;

        @media #{$mobile-portrait} {
          width: 50%;
          &:last-child { width: 100%; }
          &:first-child { vertical-align: bottom; }
        }

        div.mosaic-item-image {

          &.face-m:before {
            $height: 990px;
            $width: 450px;
            padding-top: ($height / $width) * 100%;
          }

          &.skate:before {
            $height: 440px;
            $width: 450px;
            padding-top: ($height / $width) * 100%;
          }

          &.building {
            margin-top: 80px;
            @media #{$mobile-portrait} { margin-top: 0; }

            &:before {
              $height: 536px;
              $width: 450px;
              padding-top: ($height / $width) * 100%;
            }
          }

          &.susu:before {
            $height: 960px;
            $width: 450px;
            padding-top: ($height / $width) * 100%;
          }

          &.face-f {
            margin-top: 140px;
            @media #{$mobile-portrait} { display: none; }

            &:before {
              $height: 720px;
              $width: 450px;
              padding-top: ($height / $width) * 100%;
            }
          }

          &.child {
            @media #{$mobile-portrait} { display: none; }

            &:before {
              $height: 440px;
              $width: 450px;
              padding-top: ($height / $width) * 100%;
            }
          }
        }
      }
    }
  }
}