body.martin {

  section.header-project-wrapper {
    background-color: $martin-color;
  }
  
  section.roles-wrapper {
    background-color: #fcfdfe;
  }

  section.technology-wrapper {
    background-color: $gray;

    .technoligies-list {
      text-align: center;
      margin-top: 60px;
      @media #{$mobile} { margin-top: 40px; }

      .item {
        display: inline-block;
        margin-top: 50px;
        margin-left: 2%;
        margin-right: 2%;
        img { height: 100%; }

        &.python    { height: 56px; }
        &.djangocms { height: 50px; }
        &.jquery    { height: 50px; }
        &.less      { height: 60px; }

        @media #{$mobile} {
          margin-top: 40px;
          margin-left: 6%;
          margin-right: 6%;
          &.python    { height: 46px; }
          &.djangocms { height: 40px; }
          &.jquery    { height: 40px; }
          &.less      { height: 40px; }
        }
        @media #{$ipad} {
          margin-left: 6%;
          margin-right: 6%;
        }
      }
    }
  }

  section.typographies-wrapper {
    position: relative;
    background-color: $martin-color;

    .typo-lato {
      display: block;
      max-width: 60%;

      font-family: 'Lato', sans-serif;
      font-size: 30px;
      color: #218288;
      font-weight: 300;
      line-height: 1.8em;
      letter-spacing: normal;
      text-align: justify;
      margin: 80px auto 0;
      @media #{$mobile} { max-width: 100%; }

      span {
        display: block;
        text-align: right;
        font-size: 14px;
        text-transform: uppercase
      }
    }
  }

  section.mosaic-description-wrapper {
    background-color: $white;
    padding-bottom: 70px;
  }

  section.mosaic-wrapper {

    ul.mosaic-list {
      
      li.mosaic-item {
        width: (100% / 3);
        vertical-align: top;
       
        @media #{$mobile-portrait} {
          width: 50%;
          &:last-child { width: 100%; }
          &:first-child { vertical-align: bottom; }
        }

        div.mosaic-item-image {
          &.cake:before {
            $height: 1374px;
            $width: 716px;
            padding-top: ($height / $width) * 100%;
          }

          &.chocolate {
            margin-top: 90px;
            @media #{$mobile-portrait} { margin-top: 0; }

            &:before {
              $height: 370px;
              $width: 450px;
              padding-top: ($height / $width) * 100%;
            }
          }

          &.oyster:before {
            $height: 600px;
            $width: 450px;
            padding-top: ($height / $width) * 100%;
          }

          &.fromage {
            margin-top: 30px;
            @media #{$mobile-portrait} { display: none; }

            &:before {
              $height: 560px;
              $width: 450px;
              padding-top: ($height / $width) * 100%;
            }
          }

          &.cookies:before {
            $height: 360px;
            $width: 450px;
            padding-top: ($height / $width) * 100%;

            @media #{$mobile-portrait} {
              $height: 300px;
              $width: 450px;
              padding-top: ($height / $width) * 100%;
            }
          }
        }
      }
    }
  }
}