body.page-martin section.project-wrapper {

  section.header-wrapper { background-color: #30b9c2; }

  section.typographies-wrapper {
    position: relative;
    background-color: #30b9c2;

    .typo-lato {
      display: block;
      max-width: 60%;

      font-family: 'Lato', sans-serif;
      font-size: 30px;
      color: #218288;
      font-weight: 300;
      line-height: 1.8em;
      letter-spacing: normal;
      text-align: justify;
      margin: 80px auto 0;
      @media #{$mobile} { max-width: 100%; }

      span {
        display: block;
        text-align: right;
        font-size: 14px;
        text-transform: uppercase
      }
    }
  }

  section.mosaic-description-wrapper {
    background-color: white;
  }

  section.mosaic-wrapper {
    $margin: 6px;

    padding-top: 0;

    ul.mosaic-list {
      font-size: 0;
      margin: 0 -$margin / 2;

      li.mosaic-item {
        vertical-align: top;
        display: inline-block;

        width: (100% / 3);
        font-size: 1rem;
        box-sizing: border-box;
        padding: 0 $margin / 2;

        @media #{$mobile-portrait} {
          width: 50%;
          &:last-child { width: 100%; }
          &:first-child { vertical-align: bottom; }
        }
      }

      .mosaic-item-image {
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        margin-bottom: $margin;
        background-color: $gray;

        &:before {
          display: block;
          content: "";
          width: 100%;
        }

        &.cake:before {
          $height: 1374px;
          $width: 716px;
          padding-top: ($height / $width) * 100%;
        }

        &.chocolate {
          margin-top: 90px;
          @media #{$mobile-portrait} { margin-top: 0; }

          &:before {
            $height: 370px;
            $width: 450px;
            padding-top: ($height / $width) * 100%;
          }
        }

        &.oyster:before {
          $height: 600px;
          $width: 450px;
          padding-top: ($height / $width) * 100%;
        }

        &.fromage {
          margin-top: 30px;
          @media #{$mobile-portrait} { display: none; }

          &:before {
            $height: 560px;
            $width: 450px;
            padding-top: ($height / $width) * 100%;
          }
        }

        &.cookies:before {
          $height: 360px;
          $width: 450px;
          padding-top: ($height / $width) * 100%;

          @media #{$mobile-portrait} {
            $height: 300px;
            $width: 450px;
            padding-top: ($height / $width) * 100%;
          }
        }
      }
    }
  }
}