body.marius {
  
  @import url('https://fonts.googleapis.com/css?family=Rokkitt');

  section.header-project-wrapper {
    background-color: $marius-color-2;
  }

  section.roles-wrapper {
    background-color: $gray;
    .bullet { background-color: $marius-color-2; }
  }

  section.technology-wrapper {
    background-color: $gray;
    font-size: 0;
    padding-right: 14%;
    padding-left: 14%;
    @media #{$mobile} { padding: $s-pad-top-mob $s-pad-sides; }

    .content-inner {
      display: inline-block;
      width: 60%;
      font-size: 1rem;
      margin-right: 10%;
      vertical-align: top;
      .custom-description { max-width: 80%; }

      @media #{$mobile} {
        width: 100%;
        .custom-description { max-width: 100%; }
      }
    }

    .technoligies-list {
      display: inline-block;
      width: 30%;
      font-size: 1rem;
      text-align: center;
      vertical-align: top;
      @media #{$mobile} { margin-top: 40px; width: 100%; }

      .item {
        display: block;
        margin-top: 80px;
        img { height: 100%; }

        &.symfony { height: 130px; }
        &.sonata  { height: 120px; }
        &.less    { height: 60px; }
        &:first-of-type { margin-top: 0; }

        @media #{$mobile} {
          display: inline-block;
          margin-top: 40px !important;
          margin-left: 6%;
          margin-right: 6%;
          vertical-align: middle;
          &.symfony { height: 82px; }
          &.sonata  { height: 80px; }
          &.less    { height: 50px; }
        }
      }
    }
  }

  section.identity-wrapper {
    
    .marius-logo {
      width: 32%;
      margin: 60px auto 120px;
      @media #{$mobile-portrait}  { width: 82%; }
      @media #{$mobile-landscape} { width: 62%; }
    }

    ul.colors-list {
      font-size: 0;
      text-align: center;
      margin-top: 60px;

      li.item {
        display: inline-block;
        font-size: 1rem;
        @media #{$mobile} { margin-bottom: 30px; }

        .title {
          display: block;
          font-family: 'Open Sans', sans-serif;
          font-size: 14px;
          font-weight: 700;
        }

        .color {
          $size: 80px;

          display: block;
          width: $size;
          height: $size;
          border-radius: $size / 2;
          margin: 26px 28px 18px;
          @media #{$mobile} { margin: 26px 24px 18px; }

          &.black { background-color: $black; }
          &.white { background-color: $white; }
          &.anthracite { background-color: #242424; }
        }

        .hexa {
          display: block;
          font-family: 'Open Sans', sans-serif;
          font-size: 10px;
          font-weight: 300;
          color: #8a8a8a;
        }
      }
    }
  }

  section.typographies-wrapper {
    background-color: $marius-color-2;
    padding: $s-pad-top $s-pad-sides $s-pad-top 20%;

    @media #{$mobile} { padding: $s-pad-top-mob $s-pad-sides; }
    @media #{$ipad} { padding: $s-pad-top-mob $s-pad-sides $s-pad-top-mob 12%; }

    .custom-title {
      display: inline-block;
      width: 38%;
      vertical-align: top;
    }

    .typographies-content {
      display: inline-block;
      width: 56%;
      vertical-align: top;
      @media #{$mobile} { width: 100%; margin-top: 30px; }
      @media #{$ipad-portrait} { width: 50%; margin-left: 6%; }

      .rokkit {
        width: 13%;
        margin-top: 44px;
        margin-bottom: 30px;
      }

      .custom-description {
        max-width: 100%;
        font-size: 13px;
        color: $white;
        font-weight: 300;
        line-height: 1.8em;
      }
    }
  }

  section.mosaic-wrapper {

    ul.mosaic-list {
      li.mosaic-item {
        
        &:first-of-type {
          width: 56%;
          vertical-align: top;
          @media #{$mobile} { width: 100%; }
        }

        &:nth-child(2) {
          width: 56%;
          vertical-align: top;
          @media #{$mobile-portrait} { width: 100%; }
        }

        &:last-of-type {
          width: 44%; vertical-align: top;
        }
      }

      div.mosaic-item-image {

        &.description {
          @media #{$mobile} { width: 100%; }

          .content-inner {
            padding: 90px 0;
            max-width: 64%;
            margin: 0 auto;
            .custom-description { max-width: 100%; }
            
            @media #{$mobile} {
              max-width: 100%;
              padding: $s-pad-top-mob $s-pad-sides;
            }
          }
        }

        &.tools1:before {
          $height: 430px;
          $width: 800px;
          padding-top: ($height / $width) * 100%;
        }

        &.tools2  {
          display: inline-block;
          width: 50%;
          vertical-align: top;

           &:before {
            $height: 380px;
            $width: 396px;
            padding-top: ($height / $width) * 100%;
          }
        }

        &.tools3 {
          display: inline-block;
          width: 50%;
          vertical-align: top;

          &:before {
            $height: 630px;
            $width: 396px;
            padding-top: ($height / $width) * 100%;
          }
        }

        &.car {
          margin-top: -160px;
          @media #{$mobile-landscape} { margin-top: -50px; }
          @media #{$mobile-portrait} { display: none; }

          &:before {
            $height: 990px;
            $width: 570px;
            padding-top: ($height / $width) * 100%;
          }
        }
      }
    }
  }
}