body.ma {

  section.header-project-wrapper {
    background-color: $ma-color;
    .custom-main-title { text-shadow: 0.05em 0.08em 0 darken($ma-color, 10%); }
  }

  section.roles-wrapper {
    background-color: $gray;
    .roles-item:before { background-color: $ma-color; }
  }

  section.technology-wrapper {
    background-color: $gray;
    font-size: 0;
    padding-right: 14%;
    padding-left: 12%;
    @media #{$mobile} { padding: $s-pad-top-mob $s-pad-sides; }

    .content-inner {
      display: inline-block;
      width: 60%;
      font-size: 1rem;
      margin-right: 10%;
      vertical-align: top;
      .custom-description { max-width: 80%; }

      @media #{$mobile} {
        width: 100%;
        margin-right: 0;
        .custom-description { max-width: 100%; }
        .custom-description,
        .custom-title { text-align: center; }
      }
    }

    .technology-list {
      display: inline-block;
      width: 30%;
      font-size: 1rem;
      text-align: center;
      vertical-align: top;
      @media #{$mobile} { margin-top: 40px; width: 100%; }

      .item {
        display: block;
        margin-top: 80px;
        img { height: 100%; }

        &.symfony { height: 130px; }
        &.sonata  { height: 120px; }
        &.less    { height: 60px; }
        &:first-of-type { margin-top: 0; }

        @media #{$mobile} {
          display: inline-block;
          margin-top: 30px !important;
          vertical-align: middle;
          margin-left: 4%;
          margin-right: 4%;
          &.symfony { height: 102px; }
          &.sonata  { height: 100px; }
          &.less    { height: 54px; }
        }
      }
    }
  }

  section.newsletter-wrapper {
    background-color: $ma-color;
    margin-bottom: 120px;

    .newsletter-capture img {
      box-shadow: -3em -3em darken($ma-color, 10%);
      @media #{$mobile} { box-shadow: -1.5em -1.5em darken($ma-color, 10%); }
    }

    @media #{$mobile} {
      .custom-description,
      .custom-title { text-align: center; }
    }
  }
}