body.marius {
  
  section.header-project-wrapper {
    background-color: $marius-color;
  }

  section.concept-wrapper {
    background-color: $gray;
  }

  section.roles-wrapper {
    background-color: $gray;
  }

  section.technoligies-wrapper {
    background-color: $gray;
    font-size: 0;
    padding-right: 14%;
    padding-left: 14%;
    @media #{$mobile} { padding: $section-padding-mobile 7%; }

    .content-inner {
      display: inline-block;
      width: 60%;
      font-size: 1rem;
      margin-right: 10%;
      vertical-align: top;
      .custom-description { max-width: 80%; }

      @media #{$mobile} {
        width: 100%;
        .custom-description { max-width: 100%; }
      }
    }

    .technoligies-list {
      display: inline-block;
      width: 30%;
      font-size: 1rem;
      text-align: center;
      vertical-align: top;
      @media #{$mobile} { margin-top: 40px; width: 100%; }

      .item {
        display: block;
        margin-top: 80px;
        img { height: 100%; }

        &.symfony { height: 130px; }
        &.sonata  { height: 120px; }
        &.less    { height: 60px; }
        &:first-of-type { margin-top: 0; }

        @media #{$mobile} {
          display: inline-block;
          margin-top: 40px !important;
          margin-left: 6%;
          margin-right: 6%;
          vertical-align: middle;
          &.symfony { height: 82px; }
          &.sonata  { height: 80px; }
          &.less    { height: 50px; }
        }
      }
    }
  }
}