body.marius {
  
  @import url('https://fonts.googleapis.com/css?family=Rokkitt');

  section.header-project-wrapper {
    background-color: $marius-color;
  }

  section.concept-wrapper {
    background-color: $gray;
  }

  section.roles-wrapper {
    background-color: $gray;
  }

  section.technoligies-wrapper {
    background-color: $gray;
    font-size: 0;
    padding-right: 14%;
    padding-left: 14%;
    @media #{$mobile} { padding: $section-padding-mobile 7%; }

    .content-inner {
      display: inline-block;
      width: 60%;
      font-size: 1rem;
      margin-right: 10%;
      vertical-align: top;
      .custom-description { max-width: 80%; }

      @media #{$mobile} {
        width: 100%;
        .custom-description { max-width: 100%; }
      }
    }

    .technoligies-list {
      display: inline-block;
      width: 30%;
      font-size: 1rem;
      text-align: center;
      vertical-align: top;
      @media #{$mobile} { margin-top: 40px; width: 100%; }

      .item {
        display: block;
        margin-top: 80px;
        img { height: 100%; }

        &.symfony { height: 130px; }
        &.sonata  { height: 120px; }
        &.less    { height: 60px; }
        &:first-of-type { margin-top: 0; }

        @media #{$mobile} {
          display: inline-block;
          margin-top: 40px !important;
          margin-left: 6%;
          margin-right: 6%;
          vertical-align: middle;
          &.symfony { height: 82px; }
          &.sonata  { height: 80px; }
          &.less    { height: 50px; }
        }
      }
    }
  }

  section.identity-wrapper {
    
    .marius-logo {
      width: 32%;
      margin: 60px auto 120px;
      @media #{$mobile-portrait}  { width: 82%; }
      @media #{$mobile-landscape} { width: 62%; }
    }

    ul.colors-list {
      font-size: 0;
      text-align: center;
      margin-top: 60px;

      li.item {
        display: inline-block;
        font-size: 1rem;
        @media #{$mobile} { margin-bottom: 30px; }

        .title {
          display: block;
          font-family: 'Open Sans', sans-serif;
          font-size: 14px;
          font-weight: 700;
        }

        .color {
          $size: 80px;

          display: block;
          width: $size;
          height: $size;
          border-radius: $size / 2;
          margin: 26px 28px 18px;
          @media #{$mobile} { margin: 26px 24px 18px; }

          &.black { background-color: $black; }
          &.white { background-color: $white; }
          &.anthracite { background-color: #242424; }
        }

        .hexa {
          display: block;
          font-family: 'Open Sans', sans-serif;
          font-size: 10px;
          font-weight: 300;
          color: #8a8a8a;
        }
      }
    }
  }

  section.typographies-wrapper {
    background-color: #d28a39;
    padding: $section-padding 7% $section-padding 20%;
    @media #{$mobile} { padding: $section-padding-mobile 7%; }
    @media #{$ipad} { padding: $section-padding-mobile 7% $section-padding-mobile 12%; }

    .custom-title {
      display: inline-block;
      width: 40%;
      vertical-align: top;
    }

    .typographies-content {
      display: inline-block;
      width: 56%;
      vertical-align: top;
      @media #{$mobile} { width: 100%; }

      .alphabet {
        font-family: 'Rokkitt', "Times New Roman", serif;
        font-size: 58px;
        color: $white;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        line-height: 1.2em;
        @media #{$mobile-portrait} { font-size: 30px; }
        @media #{$mobile-landscape} { font-size: 40px; }
      }

      .label-font {
        display: block;
        font-family: 'Rokkitt', "Times New Roman", serif;
        font-size: 18px;
        color: $white;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        margin: 26px 0 24px;
        @media #{$mobile} { font-size: 14px; }
      }

      .custom-description {
        max-width: 100%;
        font-size: 13px;
        color: $white;
        font-weight: 300;
        line-height: 1.8em;
      }
    }
  }
}