body.page-loom section.project-wrapper {
  $loom-color: #2f3f56;

  section.header-wrapper { background-color: $loom-color; }

  section.mosaic-wrapper {
    padding-top: 0;

    ul.mosaic-list {
      font-size: 0;
      margin-left: -$margin-mosaic;
      margin-right: -$margin-mosaic;

      li.mosaic-item {
        display: inline-block;
        
        &:first-of-type {
          width: 60%;
          vertical-align: bottom;
          @media #{$mobile-portrait} { width: 100%; }
        }
        &:nth-child(2) {
          width: 40%; vertical-align: bottom;
          @media #{$mobile-portrait} { display: none; }
        }
        &:last-of-type { width: 100%; text-align: right; vertical-align: top; }

        div.mosaic-item-image {
          position: relative;

          > .content {
            position: absolute;
            top: $margin-mosaic;
            left: $margin-mosaic;
            right: $margin-mosaic;
            bottom: $margin-mosaic;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            background-color: $gray;
          }

          &:before {
            display: inline-block;
            content: "";
            width: 100%;
          }

          &.hanger:before {
            $height: 550px;
            $width: 830px;
            padding-top: ($height / $width) * 100%;
          }

          &.shirt-w  {
            display: inline-block;
            width: 50%;

             &:before {
              $height: 490px;
              $width: 412px;
              padding-top: ($height / $width) * 100%;
            }
          }

          &.shirt-b {
            display: inline-block;
            width: 50%;

            &:before {
              $height: 490px;
              $width: 412px;
              padding-top: ($height / $width) * 100%;
            }
          }

          &.shirt-g:before {
            $height: 1200px;
            $width: 540px;
            padding-top: ($height / $width) * 100%;
          }

          &.coil {
            display: inline-block;
            width: 70%;
            @media #{$mobile-portrait} { width: 100%; }

             &:before {
              $height: 245px;
              $width: 505px;
              padding-top: ($height / $width) * 100%;
            }
          }
        }
      }
    }
  }
}