body.project-page {
  section.padding-section {
    margin-top: 4px;
    background-color: $gray;
    padding: $s-pad-top $s-pad-sides;

    @media #{$mobile} {
      padding: $s-pad-top-mob $s-pad-sides;
    }
  }

  section.full-width {
    margin-top: 4px;
    padding: $s-pad-top 0;

    @media #{$mobile} {
      padding: $s-pad-top-mob 0;
    }
  }

  section.header-project-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    height: 400px;
    padding: 0 30px;

    @media #{$mobile} {
      height: 320px;
    }
  }

  section.presentation-wrapper {
    background-color: $white;
    text-align: center;
    padding: ($s-pad-top - 40px) $s-pad-sides;

    @media #{$mobile} {
      padding: $s-pad-top-mob $s-pad-sides;
    }

    .custom-description {
      max-width: 60%;
      margin-bottom: 40px;

      @media #{$mobile} {
        max-width: 100%;
      }

      @media #{$ipad-portrait} {
        max-width: 70%;
      }
    }
  }

  section.roles-wrapper {
    position: relative;
    padding: 0;

    @media #{$mobile} {
      width: 100%;
      margin-left: 0;
    }

    .background {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 50%;
      font-size: 1rem;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      vertical-align: top;

      @media #{$ipad-portrait} {
        width: 36%;
      }

      @media #{$mobile} {
        display: none;
      }
    }

    .content-inner {
      width: 50%;
      margin-left: 50%;
      font-size: 1rem;
      vertical-align: top;
      padding: $s-pad-top 3% $s-pad-top 8%;
      box-sizing: border-box;

      @media #{$mobile} {
        width: 100%;
        margin-left: 0;
        padding: $s-pad-top-mob $s-pad-sides-mob;
      }

      @media #{$ipad-portrait} {
        width: 64%;
        margin-left: 36%;
      }

      .custom-description {
        max-width: 100%;

        &.roles {
          $bullet-size: 8px;
          $line-height: 1.4em;

          font-size: 16px;
          color: $black;
          line-height: $line-height;
          padding-left: 8%;

          @media #{$mobile-portrait} {
            font-size: 14px;
            padding-left: 5%;
          }

          .roles-item {
            position: relative;
            padding-left: $bullet-size + 30px;
            margin-bottom: 16px;

            &:last-child {
              margin-bottom: 0;
            }

            &:before {
              content: "";
              position: absolute;
              top: $line-height / 2;
              left: 0;
              margin-top: -$bullet-size * 0.52;
              width: $bullet-size;
              height: $bullet-size;
              border-radius: $bullet-size / 2;

              @media #{$mobile-portrait} {
                margin-right: 12px;
              }
            }
          }
        }

        &.about {
          font-weight: 300;
          font-size: 13px;
          color: $anthracite;
          line-height: 2.3em;
          letter-spacing: 0.06em;
          margin-top: 50px;
        }
      }
    }
  }

  section.screen-insitu-wrapper {
    background-color: $white;
    opacity: 0;
    @include transition(all 1s ease-in-out);
    @include transform(translate(0, 30px));

    @media #{$mobile-portrait} {
      padding-left: 0;
      padding-right: 0;
    }

    .screen-wrapper {
      position: relative;

      .screen {
        max-width: 100%;
      }

      .website {
        position: absolute;
        top: 6.4%;
        left: 11.8%;
        width: 76.4%;
        height: 82%;
        background-position: center top;
        background-repeat: no-repeat;
        background-size: 100%;
      }
    }

    &.show {
      opacity: 1;
      @include transform(translate(0, 0));
    }
  }

  section.newsletter-wrapper {
    background-color: $gray;
    font-size: 0;

    .newsletter-capture {
      display: inline-block;
      width: 50%;
      font-size: 1rem;
      vertical-align: top;
      text-align: right;
      margin-right: 10%;

      img {
        max-width: 90%;
      }

      @media #{$mobile} {
        width: 100%;
        margin-right: 0;
      }
    }

    .content-inner {
      display: inline-block;
      width: 40%;
      font-size: 1rem;
      vertical-align: top;
      .custom-description {
        max-width: 100%;
        font-weight: 300;
      }

      @media #{$mobile} {
        width: 100%;
        margin-top: 50px;
      }
    }
  }

  section.mosaic-wrapper {
    padding-top: 0;

    ul.mosaic-list {
      font-size: 0;
      margin-left: -$margin-mosaic;
      margin-right: -$margin-mosaic;

      li.mosaic-item {
        display: inline-block;

        a {
          display: block;
        }

        div.mosaic-item-image {
          position: relative;
          opacity: 0;
          @include transition(all 0.5s ease-out);
          @include transform(translate(0, 20px));

          &.show {
            opacity: 1;
            @include transform(translate(0, 0));
          }

          > .content {
            position: absolute;
            top: $margin-mosaic;
            left: $margin-mosaic;
            right: $margin-mosaic;
            bottom: $margin-mosaic;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            background-color: $gray;
          }

          &:before {
            display: inline-block;
            content: "";
            width: 100%;
          }
        }
      }
    }
  }

  .related-project-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    margin-bottom: 100px;
    padding: 0 10%;

    @media #{$mobile} {
      flex-direction: column;
      align-items: center;
    }

    a {
      text-decoration: none;
    }

    svg {
      display: inline-block;
      width: 26px;
      fill: black;
      vertical-align: middle;
      @include transition(all 0.2s ease-out);
    }

    .related-title {
      position: relative;
      display: inline-block;
      font-family: "SFRounded-Regular", sans-serif;
      font-size: 22px;
      color: black;
      letter-spacing: 0.08em;
      line-height: 1.4em;
      text-transform: uppercase;
      vertical-align: middle;

      span {
        position: relative;
      }

      &:before {
        content: "";
        position: absolute;
        top: 0.56em;
        bottom: -0.2em;
        background-color: #f1bc52;
      }
    }

    .previous-project {
      text-align: left;

      .related-title {
        margin-left: 16px;

        &:before {
          left: 0.5em;
          right: -0.4em;
        }
      }

      &:hover svg {
        @include transform(translateX(-8px));
      }

      @media #{$mobile} {
        width: 100%;
        margin-bottom: 40px;
      }
    }

    .next-project {
      text-align: right;

      .related-title {
        margin-right: 16px;

        &:before {
          left: -0.5em;
          right: 0.4em;
        }
      }

      &:hover svg {
        @include transform(translateX(8px));
      }

      @media #{$mobile} {
        width: 100%;
      }
    }

    .previous-project,
    .next-project {
      &.loom svg {
        fill: $loom-color;
      }

      &.edieetwatson svg {
        fill: $ew-color;
      }

      &.martin svg {
        fill: $martin-color;
      }

      &.marius svg {
        fill: $marius-color;
      }

      &.ma svg {
        fill: $ma-color;
      }

      &.mlp svg {
        fill: $mlp-color;
      }
    }
  }
}
