body.page-loom section.project-wrapper {
  $loom-color: #2f3f56;

  section.header-wrapper { background-color: $loom-color; }


  section.mosaic-wrapper {
    $margin-mosaic: 3px;

    padding-top: 0;

    ul.mosaic-list {
      font-size: 0;
      margin-left: -$margin-mosaic;
      margin-right: -$margin-mosaic;

      li.mosaic-item {
        display: inline-block;
        vertical-align: top;

        &.first {
          width: 60%;
          box-sizing: border-box;
        }
        &.second { width: 40%; }

        div.mosaic-item-image {
          position: relative;

          &:before {
            display: inline-block;
            content: "";
            width: 100%;
          }

          > .content {
            position: absolute;
            top: $margin-mosaic;
            left: $margin-mosaic;
            right: $margin-mosaic;
            bottom: $margin-mosaic;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            background-color: $gray;
          }

          &.hanger:before {
            $height: 200px;
            $width: 410px;
            padding-top: ($height / $width) * 100%;
          }

          &.loom1  {
            display: inline-block;
            width: 50%;
            padding-right: 3px;
            box-sizing: border-box;

             &:before {
              $height: 490px;
              $width: 410px;
              padding-top: ($height / $width) * 100%;
            }
          }

          &.loom2 {
            display: inline-block;
            width: 50%;
            padding-left: 3px;
            box-sizing: border-box;

            &:before {
              $height: 490px;
              $width: 410px;
              padding-top: ($height / $width) * 100%;
            }
          }

          &.up:before {
            $height: 490px;
            $width: 410px;
            padding-top: ($height / $width) * 100%;
          }
        }
      }
    }
  }


  // section.mosaic-wrapper {
  //   $margin: 3px;

  //   padding-top: 0;

  //   ul.mosaic-list {
  //     font-size: 0;
  //     margin: 0 -$margin;

  //     li.mosaic-item {
  //       display: inline-block;
  //       vertical-align: top;

  //       // width: (100% / 3);
  //       font-size: 1rem;
  //       box-sizing: border-box;
  //       padding: 0 $margin;

  //       @media #{$mobile-portrait} {
  //         width: 50%;
  //         &:last-child { width: 100%; }
  //         &:first-child { vertical-align: bottom; }
  //       }

  //       &:first-child {
  //         width: 60%;
  //         font-size: 0;
  //       }
  //     }

  //     .mosaic-item-image {
  //       position: relative;
  //       background-repeat: no-repeat;
  //       background-size: cover;
  //       background-position: center center;
  //       margin-bottom: $margin * 2;
  //       background-color: $gray;

  //       &:before {
  //         display: inline-block;
  //         content: "";
  //         width: 100%;
  //       }

  //       &.hanger:before {
  //         $height: 550px;
  //         $width: 830px;
  //         padding-top: ($height / $width) * 100%;
  //       }

  //       &.loom1 {
  //         display: inline-block;
  //         width: calc(50% - 3px);
  //         margin-right: $margin;

  //         &:before {
  //           $height: 490px;
  //           $width: 410px;
  //           padding-top: ($height / $width) * 100%;
  //         }
  //       }

  //       &.loom2 {
  //         display: inline-block;
  //         width: 50%;
  //         width: calc(50% - 3px);
  //         margin-left: $margin;

  //         &:before {
  //           $height: 490px;
  //           $width: 410px;
  //           padding-top: ($height / $width) * 100%;
  //         }
  //       }
  //     }
  //   }
  // }
}